pip install -U sentence-transformers
pip install --upgrade openai

pip install bitsandbytes==0.39.0
transformers@git+https://github.com/huggingface/transformers.git
# peft@git+https://github.com/huggingface/peft.git
accelerate@git+https://github.com/huggingface/accelerate.git



llama-cpp-python@git+https://github.com/abetlen/llama-cpp-python.git